---
# Deployments
#############
deploy_geth: false
deploy_keep_random_beacon: true
deploy_keep_ecdsa: true

# External endpoint: References geth instance in another service (such as Infura).
external_eth1: true
eth1_endpoint: https://ropsten.infura.io/v3/XXXXXXXXXXXXXXXXXXXXXXXX

# Below references the local internal geth instance if deployed
# external_eth1: false
# eth1_endpoint: "http://geth.default.svc.cluster.local:{{ geth_json_rpc_port}}"

# Raspberry Pi setup
####################

ansible_user: ubuntu
copy_local_key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_rsa.pub') }}"
sys_packages: [ 'curl', 'vim', 'git', 'ufw', 'socat', 'jq', 'dphys-swapfile', 'golang-go', 'make' ]

# Kubernetes setup
##################

k3s_version: v1.18.8+k3s1
systemd_dir: /etc/systemd/system
master_ip: "{{ hostvars[groups['master'][0]]['ansible_host'] | default(groups['master'][0]) }}"
extra_k3s_server_args: "--no-deploy servicelb"

# Replicated storage
####################
storage_solution: glusterfs # DO NOT CHANGE. May add other solutions in the future.
storage_path: /dev/sda1
storage_size: 30 # Please put a value in GB equal to or less than the amount of storage available on your device

# Docker images
###############
keep_random_beacon_tag: syuan100/keep-core:v1.3.0-rc_arm64
keep_ecdsa_tag: syuan100/keep-ecdsa:v1.1.1-rc_arm64

# Geth 
######
geth_json_rpc_port: 8545
geth_json_rpc_port_target: 8545
geth_port: 30303
geth_port_target: 30303

# Keep
######
container_mount_point: /mnt
ethereum_url: wss://ropsten.infura.io/ws/v3/XXXXXXXXXXXXXXXXXXXXXXXX

# Keep Beacon Variables
beacon_account_address: "0xAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
beacon_keystore_filename: UTC--2020-08-29T17-45-22.740497000Z--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
beacon_account_keystore: /mnt/keep-client/keystore/{{ beacon_keystore_filename }}
beacon_account_password: yourpasswordhere
beacon_p2p_port: 3919
beacon_announced_addresses: '"/ip4/xxx.xxx.xxx/tcp/3919"'
beacon_debug_level: "debug"

# Keep ECSDA Variables
ecdsa_account_address: "0xAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
ecdsa_keystore_filename: UTC--2020-08-29T17-45-22.740497000Z--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
ecdsa_account_keystore: /mnt/keep-ecdsa/keystore/{{ beacon_keystore_filename }}
ecdsa_account_password: yourpasswordhere
ecdsa_p2p_port: 3920
ecdsa_announced_addresses: '"/ip4/xxx.xxx.xxx/tcp/3920"'
ecdsa_debug_level: "debug"

### TESTNET VALUES
keep_random_beacon_operator_contract: "0xf417b31104631280adF9F6828ee19985BC299fdC"
keep_token_staking_contract: "0x8117632eC1D514550b3880Bc68F9AC1A76c9C67B"
keep_random_beacon_service_contract: "0xd83248e311DC2Ba0d2A051e86f0678d8857f6ADD"
beacon_bootstrap_peers: '"/dns4/bootstrap-1.core.keep.test.boar.network/tcp/3001/ipfs/16Uiu2HAkuTUKNh6HkfvWBEkftZbqZHPHi3Kak5ZUygAxvsdQ2UgG",
"/dns4/bootstrap-2.core.keep.test.boar.network/tcp/3001/ipfs/16Uiu2HAmQirGruZBvtbLHr5SDebsYGcq6Djw7ijF3gnkqsdQs3wK",
"/dns4/bootstrap-3.test.keep.network/tcp/3919/ipfs/16Uiu2HAm8KJX32kr3eYUhDuzwTucSfAfspnjnXNf9veVhB12t6Vf",
"/dns4/bootstrap-2.test.keep.network/tcp/3919/ipfs/16Uiu2HAmNNuCp45z5bgB8KiTHv1vHTNAVbBgxxtTFGAndageo9Dp"'

ecdsa_contract_address: "0xb37c8696cD023c11357B37b5b12A9884c9C83784"
ecdsa_sanctioned_applications: '"0x9F3B3bCED0AFfe862D436CB8FF462a454040Af80"'
ecdsa_bootstrap_peers: '"/dns4/bootstrap-1.ecdsa.keep.test.boar.network/tcp/4001/ipfs/16Uiu2HAmPFXDaeGWtnzd8s39NsaQguoWtKi77834A6xwYqeicq6N",
"/dns4/ecdsa-2.test.keep.network/tcp/3919/ipfs/16Uiu2HAmNNuCp45z5bgB8KiTHv1vHTNAVbBgxxtTFGAndageo9Dp",
"/dns4/ecdsa-3.test.keep.network/tcp/3919/ipfs/16Uiu2HAm8KJX32kr3eYUhDuzwTucSfAfspnjnXNf9veVhB12t6Vf"'