apiVersion: v1
kind: Service
metadata:
  name: keep-random-beacon
spec:
  type: LoadBalancer
  selector:
    app: keep-random-beacon
  ports:
  - name: keep-random-beacon-p2p
    port: {{ p2p_port }}
    targetPort: {{ p2p_port }}
    nodePort: 30011

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: keep-random-beacon
  labels:
    app: keep-random-beacon
spec:
  replicas: 1
  revisionHistoryLimit: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: prysm-beacon
  template:
    metadata:
      labels:
        app: prysm-beacon
    spec:
      volumes:	
        - name: eth2pv	
          persistentVolumeClaim:	
            claimName: eth2claim
      containers:
        - name: prysm-beacon
          image: {{ prysm_beacon_image_tag }}
          imagePullPolicy: "Always"
          securityContext:
            runAsUser: 0
            allowPrivilegeEscalation: false
          ports:
            - containerPort: {{ prysm_beacon_api_port }}
            - containerPort: {{ prysm_beacon_peer_port }}
            - containerPort: {{ prysm_beacon_peer_port_2 }}
              protocol: UDP
          command: ["./prysm-beacon"]
          args: [ "--datadir=/root/prysm/data", "--rpc-host=0.0.0.0", "--monitoring-host=0.0.0.0", {% if public_facing_ip is defined %}"--p2p-host-ip", "{{ public_facing_ip }}", {% endif %}"--http-web3provider", "{{ eth1_endpoint }}" ]
          volumeMounts:	
            - mountPath: "/root"	
              name: eth2pv 