[ethereum]
  URL = "{{ ethereum_url }}"
  URLRPC = "{{ eth1_endpoint }}"

[ethereum.account]
  Address = "{{ ecdsa_account_address }}"
  KeyFile = "{{ ecdsa_account_keystore }}"

[ethereum.ContractAddresses]
  BondedECDSAKeepFactory = "{{ ecdsa_contract_address }}"

[SanctionedApplications]
  Addresses = [{{ ecdsa_sanctioned_applications }}]

[LibP2P]
  Peers = [{{ ecdsa_bootstrap_peers }}]
  Port = {{ ecdsa_p2p_port }}
  AnnouncedAddresses = [{{ ecdsa_announced_addresses }}]

[Storage]
  DataDir = "/mnt/keep-ecdsa"

[TSS]
  PreParamsGenerationTimeout = "2m30s"