# Ethereum host connection info.
[ethereum]
  URL = "{{ ethereum_host_url }}"
  URLRPC = "{{ eth1_endpoint }}"

# Keep operator Ethereum account.
[ethereum.account]
  Address = "{{ account_address }}"
  KeyFile = "{{ account_keystore }}"

# Keep contract addresses configuration.
[ethereum.ContractAddresses]
  # Hex-encoded address of KeepRandomBeaconOperator contract
  KeepRandomBeaconOperator = "{{ keep_random_beacon_operator_contract }}"
  # Hex-encoded address of TokenStaking contract
  TokenStaking = "{{ keep_token_staking_contract }}"
  # Hex-encoded address of KeepRandomBeaconService contract. Only needed
  # in cases where the client's utility functions will be used (e.g., the
  # relay subcommand).
  KeepRandomBeaconService = "{{ keep_random_beacon_service_contract }}"

# Keep network configuration.
[LibP2P]
  Peers = [{{ bootstrap_peers }}]
  Port  = {{ p2p_port }}
  # Override the node's default addresses announced in the network
  # AnnouncedAddresses = [{{ announced_addresses }}]

# Storage is encrypted
[Storage]
  DataDir = "{{ data_dir }}"