apiVersion: v1
kind: Service
metadata:
  name: keep-random-beacon
spec:
  type: LoadBalancer
  selector:
    app: keep-random-beacon
  ports:
  - name: keep-random-beacon-p2p
    port: {{ beacon_p2p_port }}
    targetPort: {{ beacon_p2p_port }}
    nodePort: 30011

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: keep-random-beacon
  labels:
    app: keep-random-beacon
spec:
  replicas: 1
  revisionHistoryLimit: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: keep-random-beacon
  template:
    metadata:
      labels:
        app: keep-random-beacon
    spec:
      volumes:	
        - name: eth2pv
          persistentVolumeClaim:	
            claimName: eth2claim
      containers:
        - name: keep-random-beacon
          image: {{ keep_random_beacon_tag }}
          imagePullPolicy: "Always"
          securityContext:
            runAsUser: 0
            allowPrivilegeEscalation: false
          env:
            - name: KEEP_ETHEREUM_PASSWORD
              value: "{{ beacon_account_password }}"
            - name: KEEP_CLIENT_CONFIG_DIR
              value: "/mnt/keep-client/config"
            - name: KEEP_CLIENT_PERSISTENCE_DIR
              value: "/mnt/keep-client"
            - name: LOG_LEVEL
              value: {{ beacon_debug_level }}
          ports:
            - containerPort: {{ beacon_p2p_port }}
          command: ["/usr/local/bin/keep-client"]
          args: [ "--config", "/mnt/keep-client/config/keep-beacon-config.toml", "start" ]
          volumeMounts:	
            - mountPath: "{{ container_mount_point }}"	
              name: eth2pv
      tolerations:
        - key: node.kubernetes.io/not-ready
          effect: NoExecute
          tolerationSeconds: 20
        - key: node.kubernetes.io/unreachable
          operator: Exists
          effect: NoExecute
          tolerationSeconds: 20