apiVersion: v1
kind: Service
metadata:
  name: keep-ecdsa
spec:
  type: LoadBalancer
  selector:
    app: keep-ecdsa
  ports:
  - name: keep-ecdsa-p2p
    port: {{ ecdsa_p2p_port }}
    targetPort: {{ ecdsa_p2p_port }}
    nodePort: 30012

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: keep-ecdsa
  labels:
    app: keep-ecdsa
spec:
  replicas: 1
  revisionHistoryLimit: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: keep-ecdsa
  template:
    metadata:
      labels:
        app: keep-ecdsa
    spec:
      volumes:	
        - name: eth2pv
          persistentVolumeClaim:	
            claimName: eth2claim
      containers:
        - name: keep-ecdsa
          image: {{ keep_ecdsa_tag }}
          imagePullPolicy: "Always"
          securityContext:
            runAsUser: 0
            allowPrivilegeEscalation: false
          env:
            - name: KEEP_ETHEREUM_PASSWORD
              value: "{{ ecdsa_account_password }}"
            - name: KEEP_CLIENT_CONFIG_DIR
              value: "/mnt/keep-ecdsa/config"
            - name: KEEP_CLIENT_PERSISTENCE_DIR
              value: "/mnt/keep-ecdsa"
            - name: LOG_LEVEL
              value: {{ ecdsa_debug_level }}
          ports:
            - containerPort: {{ ecdsa_p2p_port }}
          command: ["/usr/local/bin/keep-ecdsa"]
          args: [ "--config", "/mnt/keep-ecdsa/config/keep-ecdsa-config.toml", "start" ]
          volumeMounts:	
            - mountPath: "{{ container_mount_point }}"	
              name: eth2pv
      tolerations:
        - key: node.kubernetes.io/not-ready
          effect: NoExecute
          tolerationSeconds: 20
        - key: node.kubernetes.io/unreachable
          operator: Exists
          effect: NoExecute
          tolerationSeconds: 20