apiVersion: apps/v1
kind: Deployment
metadata:
  name: lighthouse-validator
  labels:
    app: lighthouse-validator
spec:
  replicas: 1
  revisionHistoryLimit: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: lighthouse-validator
  template:
    metadata:
      labels:
        app: lighthouse-validator
    spec:
      volumes:
        - name: eth2pv
          persistentVolumeClaim:
            claimName: eth2claim
      containers:
        - name: lighthouse-validator
          image: {{ lighthouse_image_tag }}
          imagePullPolicy: "Always"
          securityContext:
            runAsUser: 0
            allowPrivilegeEscalation: false
          command: ["/bin/bash", "-c", "yes '{{ lighthouse_keystore_password }}' | lighthouse account validator import --directory /root/.lighthouse/validator_keys --stdin-passwords && lighthouse validator --auto-register --server {{ lighthouse_beacon_endpoint }}"]
          volumeMounts:
            - mountPath: "/root"
              name: eth2pv
        
