apiVersion: apps/v1
kind: Deployment
metadata:
  name: prysm-validator
  labels:
    app: prysm-validator
spec:
  replicas: 1
  revisionHistoryLimit: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: prysm-validator
  template:
    metadata:
      labels:
        app: prysm-validator
    spec:
      volumes:
        - name: eth2pv
          persistentVolumeClaim:
            claimName: eth2claim
      containers:
        - name: prysm-validator
          image: {{ prysm_validator_image_tag }}
          imagePullPolicy: "Always"
          securityContext:
            runAsUser: 0
            allowPrivilegeEscalation: false
          command: ["bin/bash", "-c", "./prysm-validator accounts-v2 import --keys-dir=/root/prysm/validator_keys --wallet-dir=/root/prysm/wallet --passwords-dir=/root/prysm/eth2passwords --wallet-password-file /root/prysm/secrets/prysm-keystore-password.txt --account-password-file /root/prysm/secrets/prysm-keystore-password.txt && ./prysm-validator --beacon-rpc-provider {{ prysm_beacon_endpoint }} --wallet-dir=/root/prysm/wallet --passwords-dir=/root/prysm/eth2passwords --password={{ prysm_keystore_password }} --wallet-password-file /root/prysm/secrets/prysm-keystore-password.txt{% if poap_prysm is defined %} --graffiti '{{ poap_prysm }}'{% endif %}" ]
          volumeMounts:
            - mountPath: "/root"
              name: eth2pv