# network
network: "medalla"

# p2p
p2p-enabled: true
p2p-port: {{ teku_port }}

# validators
validators-key-files: {{ teku_keystore_files_string }}
validators-key-password-files: {{ teku_keystore_secrets_string }}

# deposit
eth1-endpoint: {{ eth1_endpoint }}

# beacon rest api
rest-api-port: {{ teku_api_port }}
rest-api-docs-enabled: true
rest-api-enabled: true